Flask==2.2.2
gunicorn==20.1.0
python-dotenv==0.21.0
boto3==1.26.50
Werkzeug==2.3.7
opentelemetry-distro==0.46b0
opentelemetry-exporter-otlp==1.25.0
opentelemetry-instrumentation-flask==0.46b0
opentelemetry-instrumentation-botocore==0.46b0
opentelemetry-instrumentation-logging==0.46b0
